/* ///////////// */
/* resourcesPage */
/* ///////////// */

.PagesSection {
	/* align-self: flex-start; */

	background: snow;
	background: transparent;
	width: 100%;
	height: 95%;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.ProfilePage {
	width: 99%;
	height: 95%;
	/* background: white; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.myHintsSec,
.myNewsSec {
	/* background: rgb(146, 219, 212); */
	background: white;

	/* border: 1px solid salmon; */
	width: 100%;
	/* height: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	/* justify-content: flex-start; */
	justify-content: space-between;
	/* margin-bottom: 20px; */
}

.secTitle {
	margin: 10px;
	color: #036868;
}

.hintsContainer {
	/* background: turquoise; */
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	/* justify-content: space-evenly; */
	/* margin: 20px; */
	/* width: 94%; */
	height: 14rem;
	min-height: 35%;
	overflow-x: hidden;
	overflow-x: auto;
	align-items: center;
	justify-content: center;
	/* justify-content: flex-start; */
}

.sectionDivider {
	border-top-style: double;
	width: 100%;
}

.myNewsSec {
	background: white;
}

/* ///////////////////// */
/* Single Hint Component */
/* ///////////////////// */
.hintCard {
	margin: 20px;
	padding: 10px;
	/* background: linear-gradient(
		to bottom,
		 rgb(255, 157, 146),
		rgb(248, 165, 156),
		rgb(255, 227, 224)
	); */
	/* width: 200px; */
	/* background: turquoise; */
	border: 1px solid salmon;
	width: 30rem;
	/* height: 240px; */
	height: 10rem;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	/* justify-content: space-around; */
	border-radius: 15px;
	align-items: center;
	color: black;
}

.hintCard:hover {
	background: rgb(248, 195, 189);
}

.hintName {
	font-family: "Merriweather", sans-serif;
	font-size: 1rem;
}

.hintCost {
	font-family: "Fira Sans", sans-serif;
	font-size: 1.1rem;
	align-self: flex-end;
	color: black;
}

.hintCost:hover {
	color: salmon;
}

.buttonCon {
	/* background: green; */
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	width: 15%;
	height: 15%;
}

/* ///////////////////// */
/* ///Image & Text Sec// */
/* ///////////////////// */
.ImageAndText {
	/* background: green; */
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-evenly;
	width: 95%;
	height: 65%;
	text-align: left;
	overflow: hidden;
	align-items: center;
}

.hintImg {
	display: flex;
	text-align: center;
	/* background: royalblue; */
	align-items: center;
	height: 100%;
}

.textInfo {
	/* background: turquoise; */
	height: 75%;
	width: 75%;
	text-overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	color: black;
}

.temp {
	font-family: "Fira Sans", sans-serif;
	font-size: 2rem;
}

.condition {
	font-family: "Merriweather", sans-serif;
	font-size: 1.2rem;
}

.hintIcon {
	width: 5rem;
}
