:root {
	--primary: #4628ff;
	--warning: #ffd028;
	--danger: #eb3f27;
	--success: #75fa83;
	--white: #fdfdfd;
	--salmon: salmon;
	--dark: #181717;
}

.btn {
	width: 10rem;
	height: 2rem;

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	/* border-radius: 10px; */
	cursor: pointer;
	transition: transform 0.3s ease;
}

.btn:hover {
	transform: translateY(-3px);
}

/* .btn:hover {
	transform: translateY(-3px);
	background-color: salmon;

	font-weight: bold;
	font-size: 1.3rem;
} */

.btn--primary--solid {
	background-color: var(--primary);
	color: var(--white);
	border: none;
}

.btn--nav--solid {
	width: 10rem;
	height: 2rem;
	background-color: transparent;
	color: white;
	border: 2px solid salmon;

	font-family: "Merriweather", sans-serif;
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
}
.btn--nav--solid:hover {
	background-color: salmon;
	/* color: salmon; */
	font-weight: bold;
	font-size: 1.3rem;
}
