.App {
	display: flex;
	justify-content: center;
}

.card {
	background: linear-gradient(to top, red, pink);
	width: 200px;
	height: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 2px;
	align-items: center;
}
