@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Merriweather:wght@300&display=swap");
.App {
	display: flex;
	justify-content: center;
	color: #1f2231;
}

.parentContainer {
	width: 100%;
	height: 100%;
}

/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////// Header /////////////*/
/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */

ul {
	list-style: none;
}

a {
	color: #999;
	text-decoration: none;
}
.headerLogo {
	width: 50px;
	height: 50px;
	border-style: none;
	background-color: transparent;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* Nav bar */
/* ////////////// */
/* ////////////// */
/* ////////////// */

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.left {
	display: flex;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: row;
}

.logo a {
	/* color: #000;
    color: rgb(20, 102, 94); */
	/* color: salmon; */
	color: #036868;
	font: bolder;
}

.logo h1 {
	font-size: 2.1rem;
}

.logo p {
	font-size: 1rem;
}

/* .logo-image{
    width: 10%;
    height: 10%;
    border-radius: 25%;
    border: solid;
} */
/* .active{
    display: flex;
} */

.nav {
	/* display: flex; */
	align-items: center;
}
/* //////////////////////// */
/* ////// Toggled li ////// */
/* //////////////////////// */

.active {
	display: flex;
}

.nav li {
	margin-right: 1.2rem;
}

.nav li a {
	font-size: 14px;
	font-weight: 550px;
}

.nav li:last-child a {
	display: block;
	/* background: #3cb46e; */
	background: salmon;

	color: #fff;
	padding: 0.5rem 0.6rem;
	border-radius: 5px;
	transition: filter 0.5s ease-in-out;
}

.nav li:last-child a:hover {
	filter: brightness(85%);
}

.nav-search-form {
	margin-left: 1rem;
}

.nav-search-form input {
	padding: 0.7rem;
	border-radius: 20px;
	border: none;
	background-color: #eee;
	width: 600px;
	font-size: 0.9rem;
	color: #333;
	border: solid #036868;
}

.nav-search-form input:focus {
	background: turquoise;
	border: solid salmon;
	transition: 0.2s ease-in;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* Category Nav */
/* ////////////// */
/* ////////////// */
/* ////////////// */
.category-nav {
	display: flex;
	padding-left: 0.6rem;
	overflow: hidden;
}

.category-nav .category {
	padding: 0.8rem;
}

.category a {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
}

.category a:hover {
	color: #036868;
}

/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////// End Header /////////////*/
/* ////////////////////////////////// */
/* ////////////////////////////////// */
/* ////////////////////////////////// */

/* /////////////////////////////// */
/* /////////////////////////////// */
/* /////////////////////////////// */
/* ////////// Top Nav /////////////*/
/* /////////////////////////////// */
/* /////////////////////////////// */
/* /////////////////////////////// */

.topNav {
	width: 100%;
	height: 10%;
	background: white;
	/* background: yellow; */
	border-bottom-style: solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* justify-content: space-evenly;
	justify-content: space-around; */
	position: fixed;
	top: 0;
	width: 100%;
	color: #036868;
}

/* //////////////////////////// */
/* //////////////////////////// */
/* //////////////////////////// */
/* ////////// Hero /////////////*/
/* //////////////////////////// */
/* //////////////////////////// */
/* //////////////////////////// */

.hero {
	background: url("https://cdn.glitch.com/b75055dd-03c2-47e5-9f5d-7923ac439cc1%2FnewSplash.png?v=1585755168923")
		no-repeat right top;
	background-size: 100% 620px;
	background-size: cover;
	position: relative;
	height: 600px;
	width: 100%;
}

.hero-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hero-container {
	max-width: 60%;
	margin: auto;
}

.hero-content {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-content h1 {
	font-size: 3rem;
	color: #fff;
	z-index: 2;
}

.hero-content p {
	color: #fff;
	z-index: 2;
	margin: 1rem 0;
	line-height: 1.5;
}

.hero-search-form {
	z-index: 2;
	margin: 1rem 0.6rem 0 0;
}

.hero-search-form input {
	width: 100%;
	padding: 1.2rem;
	border-radius: 5px;
	border: none;
	color: #000;
	font-size: 0.9rem;
}

.hero-search-form input:focus {
	background: turquoise;
	transition: 0.2s ease-in;
}

/* /////////////////// */
/* // searched Type // */
/* /////////////////// */
#searchTabContainer {
	width: 100%;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

.searchTab {
	/* display: block; */
	display: flex;
	justify-content: center;
	background: salmon;
	color: #fff;
	width: 5rem;
	padding: 0.5rem 0.6rem;
	margin: 2px;
	border-radius: 5px;
	transition: filter 0.5s ease-in-out;
	z-index: 3;
}
.searchTab:hover {
	background-color: #40e0d0;
	color: #fa8072;
	filter: brightness(85%);
	transition: 0.7s;
	z-index: 3;
}

.trending-search-tags {
	z-index: 2;
}

.trending-search-tags a {
	color: #fff;
	transition: 0.5s color;
}

.trending-search-tags a:hover {
	color: turquoise;
}

/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* ////////// end of Hero /////////////*/
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */

.nameLogoContainer {
	/* background: green; */
	/* height: 20%; */
	/* width: 600px; */
	/* width: 20%; */
	align-self: center;
	display: flex;
	justify-content: center;
	/* width: 75rem; */
	/* padding-left: 24rem; */
	margin-left: 3rem;
}

.titleSec {
	/* background: yellow; */

	width: 10rem;
	height: 4rem;
}

.topNavIco {
	/* min-width: 20px; */
	width: 3rem;
	height: 4rem;
	/* background: violet; */
}

.searchField input {
	border-radius: 25px;
	width: 35rem;
	height: 1.5rem;
	border: 3px solid teal;
	background-color: #eee;
	padding: 0.3rem;
	font-size: 0.9rem;
	color: #333;
	align-self: center;

	/* 
	border-radius: 20px;
	border: none;
	background-color: #eee;
	width: 600px;
	
	
	border: solid salmon; */
}

.searchField input:focus {
	background: rgb(123, 204, 204);
	background: turquoise;
	/* border: solid salmon; */
	transition: 0.2s ease-in;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.buttonContainer {
	margin-right: 20px;
}

.joinBtn {
	/* background-color: #3ee0cf; */
	background-color: transparent;
	/* color: white; */
	border-radius: 3px;
	width: 5rem;
	padding: 1rem;
	text-align: center;
	border: none;
	font-size: 1rem;
}

.joinBtn:hover {
	/* background-color: rgb(250, 126, 112, 0.8); */
	color: rgb(250, 126, 112, 0.8);
	padding: 1rem;
	font-weight: 900;
}

.topNavIco img {
	width: 100%;
	height: 90%;
}

/* ///////////////// */
/* CsHints Component */
/* ///////////////// */
.CsHints {
	background: #fffcfc;

	width: 100vw;
	height: 100vh;

	display: flex;
	/* position: absolute; */
	padding-top: 5%;
}

.GuestView {
	display: flex;
	flex-direction: column;
}

/* ///////////////// */
/* LeftPanel */
/* ///////////////// */

.leftPanel {
	/* background: green; */
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
	width: 20%;
	/* height: 100%; */
	/* max-height: 95%; */

	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	/* justify-content: space-between; */
}

.userSec {
	/* background: rgb(146, 219, 212); */
	background: #dbeeec;
	color: rgb(3, 104, 104);
	color: black;
	background: white;
	border: 1px solid salmon;
	border-radius: 2px;
	padding: 10px 0 10px 0;
	width: 15rem;
	/* position: absolute;
  top: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.userImg {
	/* align-self: center; */
	background: black;
	object-fit: cover;
	box-sizing: border-box;
	/* min-width: 10rem;
	max-width: 10rem; */
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.userEdit {
	width: 75%;
	/* background: blue; */
	text-align: right;
	/* display: flex;
	flex-direction: row-reverse;
	align-self: center; */
	/* align-content: flex-end; */
}

.userEditIco {
	text-align: right;
}

.navSec {
	/* background: rgb(146, 219, 212); */
	background: snow;
	border: 1px solid salmon;
	border-radius: 2px;
	margin-top: 10px;
	padding: 10px 0 10px 0;
	width: 15rem;
	/* height: 25%; */

	/* position: relative;
	top: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

/* .navBtn {
	width: 10rem;
} */

.navBtn {
	width: 10rem;
	height: 2rem;
	background-color: transparent;
	color: white;
	border: 2px solid salmon;

	font-family: "Merriweather", sans-serif;
	font-size: 1.2rem;
	margin: 10px 0 10px 0;
}

.navBtn:hover {
	background-color: rgb(248, 195, 189);

	/* color: salmon; */
	font-weight: bold;
	font-size: 1.3rem;
}

/* .navBtn:hover {
	color: salmon;

	color: salmon;
	border: 2px solid turquoise;
} */

/* ///////////////// */
/* Display Sec */
/* ///////////////// */

.pageTitleContainer {
	/* background: tomato; */
	width: 100%;
	text-align: center;
	border-bottom-style: double;
	width: 100%;
	color: #036868;
}

.displaySec {
	/* background: #036868; */

	color: white;
	margin: 20px 0 10px 0;
	padding: 10px 0 10px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-evenly;
	/* background: turquoise; */
	/* border-radius: 30px; */
	border-left-style: solid;
	border-style: double;
	color: #036868;
	margin-right: 20px;
}
.pageTitle {
	color: white;
	color: #036868;
}
/* ////////////////// */
/* Weather Component */
/* ////////////////// */
.card {
	background: linear-gradient(to bottom, red, pink);
	width: 200px;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 15px;
	align-items: center;
}

.location {
	text-align: center;
}

.city {
	font-family: "Merriweather", sans-serif;
	font-size: 1.6rem;
}

.country {
	font-family: "Fira Sans", sans-serif;
	font-size: 1.1rem;
}

.temp {
	font-family: "Fira Sans", sans-serif;
	font-size: 2rem;
}

.condition {
	font-family: "Merriweather", sans-serif;
	font-size: 1.2rem;
}

/* /////////////////////////////// */
/* //////// Page Styling* //////// */
/* /////////////////////////////// */

.PagesSection {
	/* align-self: flex-start; */

	background: snow;
	background: transparent;
	width: 100%;
	height: 95%;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.ProfilePage {
	width: 99%;
	height: 95%;
	/* background: white; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.myHintsSec,
.myNewsSec {
	/* background: rgb(146, 219, 212); */
	background: white;
	/* border: 1px solid salmon; */
	width: 100%;
	/* height: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	align-items: center;
	/* justify-content: flex-start; */
	justify-content: space-between;
	/* margin-bottom: 20px; */
}

.secTitle {
	margin: 10px;
	color: #036868;
}

.hintsContainer {
	background-color: #f8f8f8;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	/* justify-content: space-evenly; */
	/* margin: 20px; */
	/* width: 94%; */
	height: 14rem;
	min-height: 35%;
	overflow-x: hidden;
	overflow-x: auto;
	align-items: center;
	justify-content: center;
	/* justify-content: flex-start; */
}

.sectionDivider {
	border-top-style: double;
	width: 100%;
	color: #036868;
}

.myNewsSec {
	background: white;
}

/* ///////////////////// */
/* Single Hint Component */
/* ///////////////////// */
.hintCard {
	margin: 20px;
	padding: 10px;
	/* background: linear-gradient(
		to bottom,
		 rgb(255, 157, 146),
		rgb(248, 165, 156),
		rgb(255, 227, 224)
	); */
	/* width: 200px; */
	background: white;
	border: 1px solid salmon;
	width: 30rem;
	/* height: 240px; */
	height: 10rem;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	/* justify-content: space-around; */
	border-radius: 15px;
	align-items: center;
	color: black;
}

.hintCard:hover {
	background: rgb(248, 195, 189);
}

.hintName {
	font-family: "Merriweather", sans-serif;
	font-size: 1rem;
}

.hintCost {
	font-family: "Fira Sans", sans-serif;
	font-size: 1.1rem;
	align-self: flex-end;
	color: black;
}

.hintCost:hover {
	color: salmon;
}

.buttonCon {
	/* background: green; */
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	width: 15%;
	height: 15%;
}

/* ///////////////////// */
/* ///Image & Text Sec// */
/* ///////////////////// */
.ImageAndText {
	/* background: green; */
	display: flex;
	/* justify-content: space-between; */
	justify-content: space-evenly;
	width: 95%;
	height: 65%;
	text-align: left;
	overflow: hidden;
	align-items: center;
}

.hintImg {
	display: flex;
	text-align: center;
	/* background: royalblue; */
	align-items: center;
	height: 100%;
}

.textInfo {
	/* background: turquoise; */
	height: 75%;
	width: 75%;
	text-overflow: hidden;
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	color: black;
}

.temp {
	font-family: "Fira Sans", sans-serif;
	font-size: 2rem;
}

.condition {
	font-family: "Merriweather", sans-serif;
	font-size: 1.2rem;
}

.hintIcon {
	width: 5rem;
}

/* //////////////////////// */
/* ///// footer Section /// */
/* //////////////////////// */
.footerContainer {
	background: #fa8072;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px;
	color: rgb(10, 65, 59);
	background-color: #eee;
	color: #036868;
}
